body {
  padding: 0px;
  margin: 0px;
  font-family: "Istok Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-family: "Istok Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  border-bottom: 1px solid #939393;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #fff;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}

.hero {
  height: 1050px;
  overflow: hidden;
  width: 100%;
  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.hero:before {
    content: "";
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
  }

@media(max-height: 1200px) {

  .hero-img {
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    width: 100%;
    max-height: 1050px;
  }
}